body{
	margin:0;
	padding:0;
	font-family: sans-serif Arial;
	font-size: 16px;
}
h1,.scoreFar{
	text-align: center;
}
h1{
	font-size: 3em;
	margin: 0;
}
.scoreFar{
	font-size: 2em;
	margin: 0;
}
.newgame{
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	font-weight: bold;
	color: #FFFFFF;
	border-radius: 8px;
	background-color: #808080;
}
.newgame:hover{
	color: #d0d0d0;
}
#container{
	width: 410px;
	height: 410px;
	margin: 10px auto;
	background-color: #BBB399;
	border-radius: 10px;
	position: relative;
}
.box{
	width: 90px;
	height: 90px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	background-color: #A4948A;
	border-radius: 8px;
	z-index: 0;
}
.newBox{
	width: 0;
	height: 0;
	border-radius: 8px;
	position: absolute;
	z-index: 1;
	font-size: 2em;
	color: #333;
	text-align: center;
	line-height: 90px;
	transition: all .2s;
}
.gameover{
	position: absolute;
	width: 100%;
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
	padding-top: 35%;
	color: #000;
	background-color: rgb(200,200,200,0.9);
	z-index: 10;
}

